<section class="section is-medium profile">


  <h2 class="title is-2"><%= username %>  <i class="fas fa-user-alt people"></i></h2>
  <hr />
  <div class="hero-body">
   <div class="columns">
    <div class="column is-4 is-offset-2">
       <div class="field">
        <h3 class="subtitle is-3"><label id="added"class="label">Have added ...</label></h3>
          <% addedHandmades.forEach(handmade => { %>
            <a href="/handmades/<%= handmade.id %>">
            <p class="create"><strong><%= handmade.name %></strong></p>
            </a>
            <% }) %>
        </div>
    </div>
    <div class="column is-4 is-offset-2">

        <div class="field">
         <h3  class="subtitle is-3"><label id="reviewed" class="label">Have reviewed...</label></h3>
         <% comments.forEach(comment => { %>
          <a href="/handmades/<%= comment._id %>">
            <p class="review">
              <%= comment.name %>
            </p>
          </a>
         <% }) %>
        </div>
    </div>
   </div>
 </div>
</div>
</section>
