<section class="section is-medium">
  <div class="hero-body">
   <div class="columns">
    <div class="column is-4 is-offset-2">
      <h2 class="title is-2"><%= username %></h2>
       <div class="field">
        <h3 class="subtitle is-3"><label class="label">I have added ...</label></h3>
          <% addedHandmades.forEach(handmade => { %>
            <a href="/handmades/<%= handmade.id %>">
            <p><strong><%= handmade.name %></strong></p>
            </a>
            <% }) %>
        </div>
    </div>
    <div class="column is-4 is-offset-2">
      <h2 class="title is-2"><%= username %></h2>
        <div class="field">
         <h3 class="subtitle is-3"><label class="label">I have reviewed...</label></h3>
         <% comments.forEach(comment => { %>
          <a href="/handmades/<%= comment._id %>">
            <p>
              <%= comment.name %>
            </p>
          </a>
         <% }) %>
        </div>
    </div>
   </div>
 </div>
</section>
