<section class="section">
<div class="columns is-mobile">
  <div class="column is-half-desktop is-half-tablet is-half-mobile">
    <h2 class="title is-2"><%= name %></h2>
    <p>Tools:</p>
      <% tools.forEach(tool => { %>
        <span class="tag"><%= tool %></span>
        <% }) %>
    <p>Materials:</p>
      <% materials.forEach(material => { %>
        <span class="tag"><%= material %></span>
        <% }) %>
      <p>Concept:
        <h3 class="subtitle is-5"><%= concept %></h3>
      </p>
    </div>
    <div id="pic" class="column is-half-desktop is-half-tablet is-half-mobile">
      <img src="<%= image %>" alt="<%= name %>">
    </div>
    </div>
  <% if (locals.isLoggedIn) { %>
  <div class="section columns is-mobile">
    <div class="column is-one-fifth">
      <a class="button is-rounded" href="/handmades/<%= _id %>/edit">Edit</a>
    </div>
    <div class="column is-one-fifth">
      <form action="/handmades/<%= id %>?_method=DELETE" method="post">
        <button class="button is-danger is-rounded">Delete</button>
      </form>
    </div>
    </div>
 <% } %>
</section>
