<section class="section">
  <h2 class="title is-2"><%= name %></h2>
  <h2 id="add"class="title is-2">by <%= addedBy.username %></h2>
  <div class="columns is-mobile">
    <div class="column is-half-desktop is-half-tablet is-half-mobile">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <a class="button is-light" href="/handmades/tools"><h4 class="subtitle is-4">Tools:</h4></a>
            <br />
              <% tools.forEach(tool => { %>
                 <span ><p class="subtitle is-6"><%= tool %></p></span>
             <% }) %>
          </div>
          </br>
         <div class="container">
             <a class="button is-light" href="/handmades/materials"><h4 class="subtitle is-4">Materials:</h4></a>
             <br />
              <% materials.forEach(material => { %>
                <span><p class="subtitle is-6"><%= material %></p></span>
            <% }) %>
         </div>
          <br>
          <h4 class="subtitle is-4 tag">Concept:</h4>
           <h3 class="subtitle is-5"><%= concept %></h3>
        </div>
     </section>
    </div>

    <div id="pic" class="column is-half-desktop is-half-tablet is-half-mobile">
      <img src="<%= image %>" alt="<%= name %>">
        <% if (locals.isLoggedIn) { %>
          <div class="section columns is-mobile">
            <div class="field">
              <div class="column is-one-fifth">
                <a class="button is-rounded is-hovered" href="/handmades/<%= _id %>/edit">Edit</a>
              </div>
            </div>
            <div class="field">
              <div class="column is-one-fifth">
                <form action="/handmades/<%= id %>?_method=DELETE" method="post">
                <button class="button is-dark is-rounded is-hovered">Delete</button>
                </form>
              </div>
            </div>
          </div>
      </div>
  </div>
<section>


<section class="section is-medium">
<h2 class="title is-2">Reviews</h2>
<div class="columns is-mobile">
  <div class="column is-half-desktop is-half-tablet is-half-mobile">
   <div class="column is-7 is-offset-2">
      <section class="hero">
         <div class="hero-body">
         <% comments.forEach(comment => { %>
          <div class="field">
            <span><strong><%= comment.user.username %></strong></span>
          </div>
          <div class="field">
          <span><%= '❤️'.repeat(comment.score) %></span>
          </div>
          <div class="field">
          <span><%= comment.comment %></span>
          </div>
          <div class="field">
          <span id="date"><%= comment.commentDate %></span>
          </div>
          <div class="field">
           <span>
            <form method="POST" action="/handmades/<%= _id %>/comments/<%= comment._id %>?_method=DELETE">
            <button class="button is-light is-rounded is-hovered"> ✖︎</button>
            </form>
            </span>
          </div>
    <% }) %>
     </div>
    </section>
  </div>
</div>

  <div class="column is-half-desktop is-half-tablet is-half-mobile">
   <div class="column is-7 is-offset-3">
     <section class="hero">
       <div class="hero-body">
        <form action='/handmades/<%= id %>/comments' method="post">
          <div class="field">
            <input  name='user' value='<%= locals.currentUser._id %>' hidden/>
          </div>
          <div class="field">
            <label for='score'>Score (1 to 10) </label>
            <input class="input is-rounded" name='score' type='Number' min='1' max='10'/>
            <br />
          </div>
          <div class="field">
            <label for='commentDate'>Date</label>
            <input class="input is-rounded"  name='commentDate'type='date'>
         </div>
          <div class="field">
           <label for='comment'>Something to share.. </label>
           <textarea class="textarea is-large" name='comment'></textarea>
          </div>
          <div class="field">
           <button class="button is-light is-rounded is-hovered">Add a review</button>
          </div>
       </form>
      </div>
    </section>
     <% } %>
   </div>
  </div>
</section>
